<div class="full_wrap">
  <h1>Editing Suite Spec</h1>
  <%= render :partial => 'form' %>
  <%= link_to 'Show', @suite_spec, :class => 'btn' %>
  <%= link_to 'Back', suite_specs_path, :class => 'btn' %>
</div>