
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style type="text/css" media="screen">
      h3 { color: #f00; }
      ul { list-style-type: none; padding: none; margin: none; }
      li { list-style-type: none; }
    </style>
</head>
<body>
  <h3>Booking Canceled :: ParadiseResortsNow</h3>
  <h4>Dear <%= @user.fullname %>,</h4>
    Your booking has been canceled. Thank you for choosing Paradise Resorts Now.
    Please come back soon for you dream vacation<br/>
</body>
</html>