<div id="banner" class="panel banner_wrap">
  <div class="banner_pic_wrap left">
    <%= image_tag("operator.jpg") %>
  </div>
  <div class="booking_banner_thank_you_wrap round left">
    
  </div>
</div>