<div class="login_panel round">
  <h3>Get a Personal Vacation Quote&#33;</h3>
  <%= render :partial => 'users/form' %>
  <div class="clear"></div>
  <ul class="left resigtration_reasons">
    <li>Book Reservations</li>
    <li>Track Reservations</li>
    <li>Receive Special Rates</li>
  </ul>
  <div class="clear"></div>
</div>
