<div class="index_about">
  <h2 class="index_about_header round">Paradise Resorts &#126; All Inclusive Vacations</h2>
  <p id="index_welcome">
    Paradise Resorts Now is your one stop resort destination location for 
	the Mexican Riviera and the Dominican Republic. Our vacation packages
	are <i>all inclusive&#42;</i> which includes transportation to and from the airport, all of you food and beverages, and a spa package including 2 massages, 2 manicures and 2 pedicures, leaving you to enjoy anything imaginable. Whether you are 
	looking for a round of World Class Golf, Walking along the beach, or 
	just relaxing by one of the many pools, Paradise Resorts Now is just the 
	place for you. Start by selecting a destination and see what rooms and 
	amenities are available at each of the resorts. Come explore Paradise 
  and begin the vacation of a lifetime! 
  </p>
  <div class="clear"></div>
  <div class="index_about_image_bullet left">
    <span class="thumbnail_wrap left">
    <%= image_tag("dining.png") %>   
    </span>
    <h4 class="world_class dining_header">World Class Dining</h4>
  </div>
  <div class="index_about_image_bullet left">
    <span class="thumbnail_wrap left">
    <%= image_tag("golf.png") %>   
    </span>
    <h4 class="world_class golf_header">World Class Golf</h4>
  </div>
  <div class="index_about_image_bullet left">
    <span class="thumbnail_wrap left">
    <%= image_tag("services.png") %>   
    </span>
    <h4 class="world_class service_header">World Class Service</h4>
  </div>
</div>