<% content_for :banner do %>
  <%= render :partial => "bookings/bookings_banner" %>
<% end %>


  <div class="resort_sub_header round">
    <h4 class="tan">Thank You</h4>
  </div>
  <div class="full_wrap">
    <p>Your payment with PayPal is being processed. We will contact you shortly.</p>
  </div>

