<div class="social_link_wrap full_wrap">
  <h5 class="tan">Follow Us</h5>
  <ul class="social_links">
    <li>
      <%= link_to "Facebook", "http://www.facebook.com/pages/Paradise-Resorts-Now/141901364783", :class => 'social_link facebook_link', :target => "_blank" %>
    </li>
    <li>
      <%= link_to "Linked In", "http://www.linkedin.com/profile?viewProfile=&key=54853320&locale=en_US&trk=tab_pro", :class => "social_link linkedin_link", :target => "_blank" %>
    </li>
    <li>
      <%= link_to "MySpace", "http://www.myspace.com/paradiseresortsnow", :class => "social_link myspace_link", :target => "_blank" %>
    </li>
    <li>
      <%= link_to "Twitter", "https://twitter.com/pararesortsnow", :class => "social_link twitter_link", :target => "_blank" %>
    </li>
  </ul>
  
</div>